<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) - [%F:%L] - %cyan(%logger{36}) %blue(%thread)
        %magenta(%X{akkaSource}) %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) - [%F:%L] - %cyan(%logger{36}) %blue(%thread)
        %magenta(%X{akkaSource}) %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE"/>
    <includeCallerData>true</includeCallerData>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
    <includeCallerData>true</includeCallerData>
  </appender>

  <logger name="play" level="DEBUG"/>
  <logger name="application" level="DEBUG"/>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>


  <logger name="org.jdbcdslog.ConnectionLogger" level="INFO"/> <!-- Won' log connections -->
  <logger name="org.jdbcdslog.StatementLogger" level="INFO"/> <!-- Will log all statements -->
  <logger name="org.jdbcdslog.ResultSetLogger" level="INFO"/> <!-- Won' log result sets -->


  <logger name="akka.actor" level="INFO"/>

  <logger name="play.shaded.ahc.io.netty" level="ERROR"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.channel.NettyConnectListener" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.handler.HttpHandler" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.channel.ChannelManager" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.channel.DefaultChannelPool" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.request.NettyRequestSender" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="ASYNCFILE"/>
    <appender-ref ref="ASYNCSTDOUT"/>
  </root>

</configuration>
